.text1, p{
    text-align: center;
    border: 5px dashed purple;
    border-style: dotted;
    background-color: pink;
}
body{
background-image: url(./narue2.jpg);
}
li{
    display: inline-block;
}

